version: '3.8'

services:
  neo4j:
    image: neo4j:5.15.0
    container_name: graphrag-neo4j
    ports:
      - "7474:7474" 
      - "7687:7687" 
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_PLUGINS: '["apoc"]'
